<h1><%= OPENSERMON_CONFIG['notifications']['subject'] %></h1>
<p>
	El siguiente peer se ha desconectado.
</p>
<h2><%= @cuenta.usuario %></h2>
<p>
<strong>Nombre:</strong> <%= @cuenta.nombre %><br />
<strong>Contacto:</strong> <%= @cuenta.contacto %><br />
<strong>Telefono:</strong> <%= @cuenta.telefono %><br />
<strong>E-Mail:</strong> <%= @cuenta.email %><br />
<br />
Estamos trabajando en esta falla, el administrador ha sido
notificado y en breve nos comunicaremos con usted.
<br />
<br />
Gracias.
<br />
</p>

